.ceDiv {
    height: 100%;
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.ceDiv * {
    text-align: center;
}

.ceLinkContainer form input{
    background: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.ceLinkContainer form input:hover{
    background: rgb(243, 243, 243);
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
    letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.dot-container {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 65px;
}

.dot-header {
    text-align: center;
}

@media only screen and (max-width: 414px){
    .ceLinkContainer form input{
        width:80%;
        background: rgb(255, 255, 255);
        border: 1px solid black;
        padding: 10px;
        border-radius: 15px;
        -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
    }
}