
.landing-top {
    height: 42vh;
    width: 100%;
    background: url(../images/cars.JPG);
    background-size: cover;
    background-position: center;
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
}

.other-navbar {
    background: #fff;
}

.company {
    padding: 50px 0;
}

.company-header {
    font-family: 'Fjalla One', sans-serif;
    margin: 0 auto;
    text-align: center;
    margin-top: -12rem;
    color: #fff;
    font-size: 3.5rem;
}

.company-header1 {
    font-family: 'Fjalla One', sans-serif;
    margin: 0 auto;
    text-align: center;
    margin-top: -12rem;
    color: #fff;
    font-size: 3.5rem;
}

.company-subheader {
    font-family: inherit;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.company-desc {
    font-family: inherit;
    text-align: center;
    padding-bottom: 2rem;
    color: #000000b0;
}

.company-subdesc {
    font-family: inherit;
    text-align: center;
    padding-bottom: 3rem;
    color: #000000b0;
    font-size: 1rem;
}

.company-row {
    margin-top: 4rem;
}

.company-vertical-line {
    width: 40px;
    margin: 0 auto;
    transform: rotate(90deg);
    border-top: 1px solid rgba(0, 0, 0, 0.322);
}

.horizontal-line {
    width: 90%;
    margin: 0 auto 3rem;
}

.company-video-row {
    background: url(../images/lab-outside.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    background-position-y: 7%;
}

.snm-subheader {
    padding-top: 3rem;
}

/* ----------------------- */
/* MEDIA QUERIES ARE FUN!! */
/* ----------------------- */

@media only screen and (max-width: 1200px){
    .landing-top {
        background-position-x: 39%;
    }
}

/* 1024px */
@media only screen and (max-width: 1024px){
    .landing-top {
        background-position-x: 45%;
        height: 30vh;
    }

    .company-video-row {
        background-position-y: 0;
    }
}

@media only screen and (max-width: 414px){
    .company {
        padding: 30px 0;
    }

    .company-header {
        font-size: 1.75rem;
    }

    .company-header1 {
        font-size: 2rem;
        margin-top: -7rem;
    }

    .company-desc {
        font-size: 1rem;
    }

    .company-subdesc {
        font-size: .875rem;
    }

    .company-video-row {
        background-position-y: initial;
    }

    .compound-header {
        margin-top: -6rem;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 375px){
    .company-header1 {
        font-size: 1.8rem;
    }

    .compound-header {
        margin-top: -6rem;
        font-size: 1.4rem;
    }
}