.login {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.login input{
    border: 1px #969696 solid;
}

.lastInput{
    margin: 10px;
}


@media only screen and (max-width: 414px){
    .login form {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
}
