h1.commish-title {
    text-align: center;
    padding-top: 3rem;
}

h1.commish-title-top {
    padding-top: 0;
}

section#info {
    padding-top: 3rem;
}

.commish-text-container ul li{
    list-style-type: circle;
}

.commish-photo-container.col-sm-12.col-md-12 {
    padding-top: 0;
}

.footer-location-number { 
        color:  #003da5;
        text-decoration: none;
}

.footer-location-header {
    font-family: 'Lato', sans-serif !important;
}


@media only screen and (max-width: 414px){
    h1.commish-title-top {
        padding-top: 0;
    }

    section#info {
        padding-top: 3rem;
    }

    .commish-text-container {
        order: 2;
        padding-top: 0;
    }

    .commish-photo-container.col-sm-12.col-md-12 {
        padding-top: 0;
    }

    .commish-text-container ul li{
        order: 2;
        padding-top: 0;
        list-style-type: circle;
    }

    .firstList {
        padding-top: 1rem;
    }

}
