
.calc-header {
    margin-top: -8rem;
}

.w3-row-padding {
    padding-top: 0;
}

.w3-card-resources {
    box-shadow: none;
    min-height: initial;
    padding: 0;
    padding-top: 1rem;
    margin-top: -1rem;
}

.w3-card-resources h3 {
    font-family: inherit;
    font-weight: 500;
}

.select-button:hover {
    cursor: pointer;
}

.select-button option {
    text-align: center;
}

.radcalc-td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-text-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: auto;
}


input {
    border: 1px solid lightgrey;
}

.form-row {
    padding-left: 0;
    padding-right: 0;
}

.formula-display {
    margin-top: 20px;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    /* padding: 40px; */
    /* height:40vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formula-display b {
    margin-bottom: 15px;
}

.formula-display .special-formula {
    margin-bottom: 0;
}

.formula-title{
    margin-bottom:20px;
}


.first-row {
    background-color: whitesmoke;
}

.input-left {
    left: 11px;
    position: relative;
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-flex tr{
width:100%;
}

.form-calc table tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.second-row {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.unit-class td{
    text-emphasis: center;
}

@media only screen and (max-width: 414px){
    .w3-half {
        margin-bottom: 0;
    }

    .links-title {
        display: block;
    }

    .w3-card-resources h3 {
        font-size: 1.5rem;
    }

    .calc-header {
        margin-top: -6rem;
    }

    .mobile-input {
        width:100%;
    }

    .mobile-input2 {
        width:70%
    }

    .mobile-input3 {
        width:20%
    }
}

