
.calc-header {
    margin-top: -8rem;
}

.w3-row-padding {
    padding-top: 0;
}

.w3-card-resources {
    box-shadow: none;
    min-height: initial;
    padding: 1rem;
    margin-top: -1rem;
}

.w3-card-resources h3 {
    font-family: inherit;
    font-weight: 500;
}

.select-button:hover {
    cursor: pointer;
}

.select-button option {
    text-align: center;
}

.radcalc-td {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid lightgrey;
}

@media only screen and (max-width: 414px){
    .w3-half {
        margin-bottom: 0;
    }

    .links-title {
        display: block;
    }

    .w3-card-resources h3 {
        font-size: 1.5rem;
    }

    .calc-header {
        margin-top: -6rem;
    }
}

